 <div class="row my-5">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    {{#if products.hasPrevPage}}
                        <li class="page-item">
                            <a class="page-link" href="{{products.prevLink}}"><<</a>
                        </li>
                    {{/if}}
                    {{#if products.hasPrevPage}}
                        <li class="page-item">
                            <a class="page-link" href="{{products.prevLink}}">{{products.prevPage}}</a>
                        </li>    
                    {{/if}}
                    <li class="page-item">
                        <a class="page-link">{{products.page}}</a>
                    </li>
                    {{#if products.hasNextPage}}
                        <li class="page-item">
                            <a class="page-link" href="{{products.nextLink}}">{{products.nextPage}}</a>
                        </li>    
                    {{/if}}
                    {{#if products.hasNextPage}}
                        <li class="page-item">
                            <a class="page-link" href="{{products.nextLink}}">>></a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
  </div>

<div class="container my-5">
    <div class="row">
        {{#each this.payload}}
        <div class="card" style="width: 22rem;">
            <img src="{{img}}" class="img-fluid" alt="{{nombre}}">
            <div class="card-body text-center">
                <p class="card-text">{{nombre}}<br><span class="text-danger">${{precio}}</span></p>
                <button class="btn btn-dark" onclick="agregarProductoAlCarrito('{{product._id}}')">Agregar</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="./js/Carts.js"></script>